/*hi this is a comment*/
h1 {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
p {
    color: white;
};
img {
    border: 30px;
    border-color: white;
    border-radius: 30px;
    object-fit: fill;
    height: 500;
    width: 300;
}
